<a href="https://colab.research.google.com/github/Reeshab/Ineuron-Python-Assignment/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1: 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

1. In programming language , values are characters or values which assign to variable name i.e consider 'A is variable which store value 10 'which means in programming represents A =10. 2. In programming language, an expression is a combination operators and operand and operand which perform operations and produce some other values for example a=10, b =10, c=a+b here a,b are operand which have values to perform arithmatic operation by using '+' is operator and producer 20 as result.
3. In given elements "hello", -87.9 and 6 are values similarility*,-,/,+ are operators . we can form expression as -87.9 + 6 , 6-(-87.9) etc.

Question 2: What is the difference between string and variable?

In python programming string is a collection of character, words number and symbols with in single , double and triple quote. Where as variable is a container which store the value and have different of variable such integer variable, string variable , floatin point and long integer variable for example.

In [2]:
# a is variable name which store multiple line text
a = """hello hi
    how
    are you"""
# b is variable name which stores int value 10
b = 10
# c is variable name which stores string value
c = "10a!@$$"
# d is variable name which stores floating variable
d = 10.00
# e is variable name which stores string character value
e = 'a'
print(a)
print(b)
print(c)
print(d)
print(e)

hello hi
    how
    are you
10
10a!@$$
10.0
a

Question 3 : Describe three different data types.

In python we have different data types which describe the characterstics of variable and we have different datatypes in python such as Numeric Types:Complex, float, int
Text Type : str . Boolean Type : bool. Sequence Types: range,tuple,list
Set Types : frozenset
set: Mapping Type : dict. Bianary Types:memoryview, bytearray,bytes

In [3]:
#1. Number data types which stores data in three types such as integer, float and complex.
# examples for numbers data type
a = 10 # a is variable name which store integer type value
print(a," is a type of", type(a))

b= 10.00 #b is variable name which store float type value
print(b,"is a type of",type(b))

c=5+3J# c is variable name which store complex type value
print(c,"is a type of",type(c))

10  is a type of <class 'int'>
10.0 is a type of <class 'float'>
(5+3j) is a type of <class 'complex'>

In [4]:
#2. string is an sequence of characterstics with single, double and triple quotes.
#a is variable name which store multiple line next
a="""hello hi
how
are you"""
# b is variable name which stores single charcter
b="A"
# c is variable name which string value
c="Hello"
#d is variable name which stores numbers and symbol with in quotes
d="123456!@#$%^"
print(a,"is value of a and its type is ")
print(type(a))
print(b,"is value of b and its type is ",type(b))
print(c,"is value of b and its type is ",type(c))
print(d,"is value of b and its type is ",type(d))

hello hi
how
are you is value of a and its type is
<class 'str'>
A is value of b and its type is  <class 'str'>
Hello is value of b and its type is  <class 'str'>
123456!@#$%^ is value of b and its type is  <class 'str'>

In [5]:
"""bolean data type have two values which is true or false.
it use evaluation of any expression to get either true or false."""
a = True
print(type(a))
b= True
print(type(b))

print(10 > 7)
print(7 > 10)

<class 'bool'>
<class 'bool'>
True
False

Question 4: What is an expression made up of? What do all expressions do?

1. An expression is a combination of values and operators. All expressions evaluate(that is , reduce) to single value. 2. Expression can do different expression can do operations such as arithematic expressions,boolean expression,conditional expression,bitwise expression, logical expression.

In [6]:
, b2a_hex
from binascii import b2a_base64
#Arithematics expression which perform arithematic operations
print("******Arithematic expression******")
a = 10
b = 10
c = a+b
d = a-b
e = a*b
f = a/b
g = a%b
print("addition of a and b values is ",c)
print('subscription of a and b values is ",d')
print("multiplication of a and b values is ", e)
print("divison of a and b values is ",f)
print("modulo divison of a and b values is ", g)

#boolean expression which perform boolean operations
print("******Boolean expression******")
a = 10
b = 10
print(a>b)
print(b>a)
print(a==b)

#conditional expression which perform conditional operation (<,>,!=,==)
print("******Conditional expression******")
a = 10
b = 10
if(a==b):
  print("a is equal to b")
elif(a >b):
  print("a is greater than b")
elif(a<b):
  print("a is lesser than b")
else :
  print("a is not equal to b")

#Logical expression gives results based on one or more than conditions using Logical operators (and or not)
print("******logical expression******")
a=(10 ==9)
b=(20 > 10)
c = a and b # if conditions are true then it return true if not return false.
d = a or b # either of one conditions must true
e = not(a) # not conditions return false when condition is true or else it return true when condition is flase i.e not(true) == false
print(c,d,e)

******Arithematic expression******
addition of a and b values is  20
subscription of a and b values is ",d
multiplication of a and b values is  100
divison of a and b values is  1.0
modulo divison of a and b values is  0
******Boolean expression******
False
False
True
******Conditional expression******
a is equal to b
******logical expression******
False True True

In [7]:
a = 10
b = 20
print(a and b > 15)

True

Question 5 : This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In programming an "Expression" always evaluate the value and "Statement" is used to store the values in variable in variable,create the variable and display the variable.For example a = 10 is statement and a = 10 + 5 is an expression.

Question 6 :After running the following code, what does the variable bacon contain?

In [8]:
bacon = 22
bacon + 1

23

In the above statement executes bacon contains 23 because . The bacon variable is set to 23. The bacon + 1 expression doesnot reassiggn the value in bacon it behaves as assignment statement: bacon =  bacon +1. So it's increment + 1 and store 23 in bacon.

Question 7 : What should the values of the following two terms be?

In [9]:
'spam'+'spam'+'spam'

'spamspamspam'

In [10]:
'spam'*3

'spamspamspam'

Above have same output

Question 8 : Why is eggs a valid variable name while 100 is invalid?

Egg is a valid variable name variable name start with a letter or the under scorer character. 2 . A variable can not start with a number. 3 . Variable name only contain alpha numeric characters and underscorers (A-z,0-9, and _)
4. Variable names are case sensitive (age, Age and AGE are three different variables) Due to this egg is valid & 100 is not valid variable name.

Question 9 : What three functions can be used to get the integer, floating-point number, or string
version of a value?

The int(),float() and str() functions will evaluate to the integer, floating-point number and string versions of value passed to them.

Question 10 : Why does this expression cause an error? How can you fix it?

The expression causes an error because 99 is an integer and only strings can be concatenated to other strings with the + operator. The correct way is 'I have eaten' + str(99) + 'burritos' or 'I have eaten' + '99' + 'burritos'

In [13]:
'I have eaten' +  str(99)  +  'burritos'

'I have eaten99burritos'

In [14]:
'I have eaten' +  '99'  +  'burritos'

'I have eaten99burritos'