<a href="https://colab.research.google.com/github/Reeshab/Ineuron-Python-Assignment/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What exactly is [ ]?

The empty list value, which is a list value that contains no items. This is similar to how '' is the empty string value.

In [1]:
[] # empty list we didn't get any results from this

[]

In [2]:
[1,2,3]

[1, 2, 3]

2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [3]:
# In python programming index starts with 0 
spam =[2,4,6,8,10]
spam[2] ="hello" # the third value in a list is at index 2 because the first index is 0.)
print(spam)

[2, 4, 'hello', 8, 10]

Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

1.What is the value of spam[int(int('3' * 2) / 11)]?

2.What is the value of spam[-1]?

3.What is the value of spam[:2]?

3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [4]:
spam = ["a","b","c", "d"]
print (" Result of (int(int('3' * 2) / 11)",int(int('3' * 2) / 11))
spam[int(int('3' * 2) / 11)]

 Result of (int(int('3' * 2) / 11) 3

'd'

4. What is the value of spam[-1]?

In [5]:
spam[-1]

'd'

5. What is the value of spam[:2]?

In [6]:
spam[:2]

['a', 'b']

Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

What is the value of bacon.index("cat")?

How does bacon.append(99) change the look of the list value in bacon?

How does bacon.remove("cat") change the look of the list in bacon?

6.What is the value of bacon.index("cat")?

In [7]:
bacon = [3.14,'cat', 11,'cat',True] 
bacon.index("cat")  # display first occurence index position   cat element in list .

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [8]:
bacon = [3.14,'cat', 11,'cat',True] 
bacon.append(99) 
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [9]:
bacon = [3.14,'cat', 11,'cat',True] 
bacon.remove('cat') ## it remove first occurence index position   cat element in list . 
print(bacon)

[3.14, 11, 'cat', True]

9. What are the list concatenation and list replication operators?

We can '+' operator used as list concatenation and '* ' operator used as replication operators in list.

list1 =[3,5]

list2 =[7,8]

list1 + list2

In [10]:
list1 =[3,5]

list2 =[7,8]

list1 + list2

[3, 5, 7, 8]

In [12]:


list3 =[7,8]

list3 * 4

[7, 8, 7, 8, 7, 8, 7, 8]

10. What is difference between the list methods append() and insert()?

append() will add values only to the end of a list, insert() can add them anywhere in the list.

11. What are the two methods for removing items from a list?

The del statement and the remove() list method are two ways to remove values from a list.

12. Describe how list values and string values are identical.

Both lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the in and not in operators.

13. What&#39;s the difference between tuples and lists?

Lists are mutable; they can have values added, removed, or changed. Tuples are immutable; they cannot be changed at all. Also, tuples are written using parentheses, ( ), while lists use the square brackets, []

14 . How do you type a tuple value that only contains the integer 42?

In [13]:
# we can type a tuple value that only contains the integer 42 by comma separator in tuple 
a=(42,)

In [14]:
print(type(a))

<class 'tuple'>

15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

we get a list values tuple form by The tuple() and similarly tuple values list form by the list() functions, respectively

In [15]:
#list to tuple
a=[1,2,3]
print(tuple(a))

(1, 2, 3)

In [16]:
# tuple to list
a=(1,2,3)
print(list(a))

[1, 2, 3]

16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?

They contain references to list values.

When we assign a list to a variable, we are actually assigning a list reference to the variable. A reference is a value that points to some bit of data, and a list reference is a value that points to a list

In [17]:
# example
a=[1,2,3] #stores a reference to a list, not the actual list.
b=a # reference in a  is copied to b's reference 
print(" List A : ",a)# print list A
print(" List B :  ",b) # print List B
b[1] ="hello" # altering  B list 
print("after changing element in list B  ", b)
print("after changing element in list B and displaying A's ",a)
# Both A and B are same value therefore They contain references to list values.

 List A :  [1, 2, 3]
 List B :   [1, 2, 3]
after changing element in list B   [1, 'hello', 3]
after changing element in list B and displaying A's  [1, 'hello', 3]

17. How do you distinguish between copy.copy() and copy.deepcopy()?

The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.