<a href="https://colab.research.google.com/github/Reeshab/Ineuron-Python-Assignment/blob/main/Programming_Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python Program to Find the Factorial of a Number?

In [2]:
num = int(input("Enter the number for which the factorial needs to be calculated:"))
factorial = 1
if num < 0:
  print("Factorial cannot be calculated, negative input")
elif num==0:
  print("Factorial of the number is 1 ")
else:
  for i in range(1, num+1):
    factorial = factorial * i
  print("Factorial of the given number is:",factorial)

Enter the number for which the factorial needs to be calculated:3
Factorial of the given number is: 6

2. Write a Python Program to Display the multiplication Table?

In [3]:
Num = int(input("Enter the number you want to generate a multiplication table for: "))
Range= range(1,11)
for x in Range:
  result= Num * x
  print(Num,"*",x,"=",result)

Enter the number you want to generate a multiplication table for: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

3. Write a Python Program to Print the Fibonacci sequence?

In [12]:
numterms = int(input("How many terms? : "))
n1 , n2 = 0 ,1
count = 0

if numterms <=0:
   print(f"We have to enter a positive integer")
elif numterms == 1:
  print(f"Fibonacci sequence upto",numterms,":")   
  print(n1)
else:
  print("Fibonacci sequence:")
  while count < numterms:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count += 1

How many terms? : 5
Fibonacci sequence:
0
1
1
2
3

4. Write a Python Program to Check Armstrong Number?

In [5]:
Num = int(input("Enter a number:"))
sum = 0
temp = Num
while temp > 0:
  digit = temp % 10
  sum += digit**3
  temp //=10
if Num == sum:
   print(Num, "is an Armstrong number")
else:
   print(Num, "is not an Armstrong number")

Enter a number:6
6 is not an Armstrong number

5. Write a Python Program to Find Armstrong Number in an Interval?

In [7]:
lower_num= int(input("Enter a number: "))
Upper_num= int(input("Enter a number: "))
     
for num in range(lower_num, Upper_num + 1):

   
   order = len(str(num))
    
   
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

Enter a number: 56
Enter a number: 799
153
370
371
407

6. Write a Python Program to Find the Sum of Natural Numbers?

In [9]:
num = int(input("enter any natural number:"))
d= (num*(num+1))/2
print(d)

enter any natural number:100
5050.0