<a href="https://colab.research.google.com/github/Reeshab/Ineuron-Python-Assignment/blob/main/Programming_Assignment_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [ ]:
def is_symmetrical(input_number):
    if str(input_number) == str(input_number)[::-1]:
       print(f'{input_number} -> {True}')
    else:
       print(f'{input_number} -> {False}')

is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [ ]:
def multiply_nums(input_string):
    output_string = input_string.replace(' ', ' ').split(',')
    output_num = 1
    for element in output_string:
        output_num *= int(element)
    print(f'{input_string} -> {output_num}')

multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("10, -2")

2, 3 -> 6
1, 2, 3, 4 -> 24
54, 75, 453, 0 -> 0
10, -2 -> -20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [ ]:
def square_digits(input_number):
    #for element in str(input_number):
    input_list = [str(int(element)**2) for element in str(input_number)]
    output_list = ' '.join(input_list)
    print(f'{input_number} -> {(output_list)}')

square_digits(9119)
square_digits(2483)
square_digits(3212)

9119 -> 81 1 1 81
2483 -> 4 16 64 9
3212 -> 9 4 1 4

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [ ]:
def setisfy(input_list):
    output_list = sorted(set(input_list))
    print(f'{input_list} -> {output_list}')


setisfy([1, 3, 3, 5, 5]) 
setisfy([4, 4, 4, 4])
setisfy([5, 7, 8, 9, 10, 15])
setisfy([3, 3, 3, 2, 1])

[1, 3, 3, 5, 5] -> [1, 3, 5]
[4, 4, 4, 4] -> [4]
[5, 7, 8, 9, 10, 15] -> [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1] -> [1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [ ]:
def mean(input_number):
    input_list = [int(element) for element in str(input_number)]
    output_list = sum(input_list)/len(str(input_number))
    print(f'Mean of {input_number} -> {output_list:.0f}')


mean(42)
mean(12345)
mean(666)

Mean of 42 -> 3
Mean of 12345 -> 3
Mean of 666 -> 6