<a href="https://colab.research.google.com/github/Reeshab/Ineuron-Python-Assignment/blob/main/Programming_Assignment12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to Extract Unique values dictionary values?

In [1]:
input_dict = {1:'Mumbai',2:'Chennai',3:'Ahemadabad',5:'Delhi',6:'Kolkata',7:'Guhawati'}
print(input_dict.values())
print(f'Unique Values: {list(set(input_dict.values()))}')

dict_values(['Mumbai', 'Chennai', 'Ahemadabad', 'Delhi', 'Kolkata', 'Guhawati'])
Unique Values: ['Delhi', 'Chennai', 'Mumbai', 'Guhawati', 'Ahemadabad', 'Kolkata']

2. Write a Python program to find the sum of all items in a dictionary?

In [4]:
input_dict = {'Apple': 10,'Mango': 40,'Chilly': 50,'Guva':30,'Lemon':200}
print('Sum of all items: ', sum(input_dict.values()))

Sum of all items:  330

3. Write a Python program to Merging two Dictionaries?

In [9]:
DictionaryOne = {"key1": "Value1", "Key2": "Value2"}
DictionaryTwo = {"key3": "Value3", "Key4": "Value4"}

DictionaryOne.update(DictionaryTwo)
print(DictionaryOne)

{'key1': 'Value1', 'Key2': 'Value2', 'key3': 'Value3', 'Key4': 'Value4'}

4. Write a Python program to convert key-values list to flat dictionary?

In [10]:
in_list = [('A',10),('B',20),('C',30),('D',40),('E',50),('F',60),('G',70),('H',80),('I',90),('J',100)]

dict(in_list)

{'A': 10,
 'B': 20,
 'C': 30,
 'D': 40,
 'E': 50,
 'F': 60,
 'G': 70,
 'H': 80,
 'I': 90,
 'J': 100}

5. Write a Python program to insertion at the beginning in OrderedDict?

In [11]:
from collections import OrderedDict
dict_one = OrderedDict({'Apple':'Iphone','Microsoft':'Windows','Google':'chrome'})
print('dict_one',dict_one)
dict_two = {'Tesla':'SpaceX'}
dict_one.update(dict_two)
print('dict_one',dict_one)
dict_one.move_to_end('Tesla',last=False)
print('dict_one',dict_one)

dict_one OrderedDict([('Apple', 'Iphone'), ('Microsoft', 'Windows'), ('Google', 'chrome')])
dict_one OrderedDict([('Apple', 'Iphone'), ('Microsoft', 'Windows'), ('Google', 'chrome'), ('Tesla', 'SpaceX')])
dict_one OrderedDict([('Tesla', 'SpaceX'), ('Apple', 'Iphone'), ('Microsoft', 'Windows'), ('Google', 'chrome')])

6. Write a Python program to check order of character in string using OrderedDict()?

In [12]:
from collections import OrderedDict

initial_list = {'a': 1000, 'f': 200, 'd': 300, 'c': 400, 'b': 500, 'e': 600}
print(initial_list)

final_list = OrderedDict(dict(sorted(initial_list.items())))
print(final_list)

{'a': 1000, 'f': 200, 'd': 300, 'c': 400, 'b': 500, 'e': 600}
OrderedDict([('a', 1000), ('b', 500), ('c', 400), ('d', 300), ('e', 600), ('f', 200)])

7. Write a Python program to sort Python Dictionaries by Key or Value?

In [13]:
d_items = {'Mango':100,'PineApple':22,'Banana':60,'Grape':13}

def sort_dict(in_dict,sort_type):
    if sort_type == 'key':
        print(dict(sorted(in_dict.items(), key=lambda x:x[0], reverse=False)))
    else:
        print(dict(sorted(in_dict.items(), key=lambda x:x[1], reverse=False)))
        
sort_dict(d_items,'key')        
sort_dict(d_items,'value')

{'Banana': 60, 'Grape': 13, 'Mango': 100, 'PineApple': 22}
{'Grape': 13, 'PineApple': 22, 'Banana': 60, 'Mango': 100}